.ant-tree-title{
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
}

.ant-tree-node-content-wrapper {
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
}

.ant-tree-treenode{
  width:100%
}