.write_container{
  width:1340px;
  border:1px solid #cdcdcd;
  border-left:0;
  border-right:0;
  padding:10px;
  font-size:11px;
  margin:auto;
}
.write_container .make_new_book{
  margin-bottom:10px;
}

.test{
  font-size:13px; 
  font-Weight:700;
}